<html>
    <head>
        <meta charset="utf-8">
        <title>连连看游戏</title>
        <link rel="stylesheet" href="../css/lianliankan.css">
        <script src="../js/VUE2.6.6.js"></script>
    </head>
    <body>
        <div id="app">
            <game-component></game-component>
        </div>
        <template id="gameComponent">
            <div>
                <div class="container-degree">
                    <span>选择难度</span>
                    <select v-model="degree" @change="changeDegree">
                        <option v-for="item in degreeObj" :value="item.value">{{item.text}}</option>
                    </select>
                </div>
                <div class="btns">
                    <button @click="reset">重置</button>
                    <button @click="pause">{{pauseHtml}}</button>
                    <span>总用时：{{hour}}时{{min}}分{{sec}}秒</span>
                    <span></span>
                </div>
                <div class="container">
                    <h2 v-if="item.join('') === ''">恭喜完成。用时：{{hour}}时{{min}}分{{sec}}秒</h2>
                    <ul>
                        <li v-for="(i,key) in item" :data="i"><img  @click="chooseItem(key)" :class="{active:activeItemKey === key}" v-if="i !== ''" :src="staticUrl+Math.ceil(i/2)+pngSuffix" alt=""></li>
                    </ul>
                </div>
            </div>
        </template>
    </body>
    <script>
        Vue.component('game-component',{
            template: '#gameComponent',
            data(){
                return {
                    degree:12, //当前难度
                    degreeObj:[{ //难度选中下拉框的值
                        text:"简单",
                        value:12
                    },{
                        text:"中等",
                        value:24
                    },{
                        text:"高级",
                        value:48
                    }],
                    item:[], //打乱顺序的列表元素
                    activeItemKey:"",//当前选中的item
                    staticUrl:"../img/lianliankan/img",
                    pngSuffix:".png",
                    hour:0,
                    min:0,
                    sec:0,
                    time:0,
                    timer:0,
                    pauseHtml:"暂停"
                }
            },
            beforeCreate:function(){
            },
            created:function(){
                console.log("created");
                this.reset(this.degree);
            },
            methods:{
                changeDegree(){
                    this.reset(this.degree);
                },
                createGame(){
                    let _this = this;
                        _this.createRandomArr();
                },
                createRandomArr(){ //根据难度生成随机的数组
                    let _this = this;
                        _this.item = [];
                        for(var i=0;i<_this.degree;i++){
                            _this.item[i]=i+1;
                        }
                        
                        _this.item.sort(function(){
                            return 0.5-Math.random();
                        })
                },
                chooseItem(key){ //点击选择item的key
                   let _this = this;
                        if(_this.activeItemKey && _this.activeItemKey != key){ 
                            _this.judgeItem(_this.activeItemKey,key);
                        }else{//当一个项目都没被选中时，先选中该项目
                            _this.activeItemKey = key;
                        }
                    
                },
                judgeItem(i,j){ //判断选中的两个模块是否相同
                    let _this = this,
                        d = _this.item;
                        if(Math.ceil(d[i]/2) === Math.ceil(d[j]/2) || Math.ceil(d[i]/2) === Math.ceil(d[j]/2)){ //选中的两个木块是相同的
                            _this.destoryItem(i,j);
                        }else{ //选中的两个模块不同，修改选中状态为第二个模块
                            _this.activeItemKey = j;
                        }
                },
                destoryItem(i,j){ //销毁选中的两个相同的模块
                    let _this = this;
                        _this.item.splice(i,1,"");
                        _this.item.splice(j,1,"");
                        _this.activeItemKey = ""; 
                        if(_this.isOk()){
                            alert("恭喜完成");
                            _this.pause();
                        }else{
                            console.log("继续完成");
                        }                   
                },
                isOk(){
                    return this.item.join("") === ""
                },
                reset(){
                    let _this = this;
                        _this.createGame();
                        _this.time = 0;
                        clearInterval(_this.timer);
                        _this.calTimer();
                },
                calTimer(){
                    let _this = this;
                        _this.timer = setInterval(function(){
                            _this.time++;
                            _this.calSeconds(_this.time);
                        },1000);
                },
                pause(){ //暂停
                    let _this = this;
                    if(_this.isOk()){ clearInterval(_this.timer);return}
                    if(_this.pauseHtml === "暂停"){
                        _this.pauseHtml = "继续";
                        clearInterval(_this.timer);
                    }else{
                        _this.pauseHtml = "暂停";
                        _this.calTimer();
                    }
                },
                calSeconds(time){ //将时间戳转换成时分秒
                    this.time = time;
                    this.hour = parseInt(time /3600);
                    this.min = parseInt((time-this.hour*3600)/60);
                    this.sec = (time-this.hour*3600)%60;
                }
            },
            beforeMount(){

            },
            mounted(){
                console.log("mounted")
            }
        });
        let vm = new Vue({
            el:"#app"
        });
    </script>
</html>