<html>
    <head>
        <meta charset="utf-8">
        <title>扫雷小游戏</title>
        <link rel="stylesheet" href="../css/winmine.css">
        <script src="../js/VUE2.6.6.js"></script>
    </head>
    <body>
        <div id="app">
            <game-component></game-component>
        </div>
        <template id="gameComponent">
            <div>
                <div class="container-degree">
                    <span>选择难度</span>
                    <select v-model="degree" @change="changeDegree">
                        <option v-for="item in degreeObj" :value="item.value">{{item.text}}</option>
                    </select>
                    <span>{{sumLei}}</span>    
                </div>
                <div class="container">
                    <ul :style="'width:'+degree*27" v-for="(rowItem,row) in item">
                        <li v-for="(val,col) in rowItem" @click="leftClick(row,col)" @contextmenu.prevent="rightClick(row,col)" :class="{clicked:val.status === 1}"><span v-if="val.leiNo !== ''">{{val.leiNo}}</span><img :src="leiImgSrc" v-if="val.identity === 1 && val.status === 1"><img :src="redFlagImgSrc" v-if="val.status === 2"><img :src="doubtImgSrc" v-if="val.status === 3"></li>
                        <!-- <li v-for="(val,col) in rowItem" @click="leftClick(row,col)"><img :src="leiImgSrc" v-if="val.status === 1" /></li> -->
                    </ul>
                </div>
                
            </div>
        </template>
    </body>
    <script>
        Vue.component('game-component',{
            template: '#gameComponent',
            data(){
                return {
                    gameOver:false, //游戏是否已经结束了
                    degree:10, //当前难度 10*10  15*15 20*20 分别对应10  15  20 个雷的总数
                    degreeObj:[{ //难度选中下拉框的值
                        text:"简单",
                        value:10
                    },{
                        text:"中等",
                        value:15
                    },{
                        text:"高级",
                        value:20
                    }],
                    sumLei:0, //雷的总数
                    item:[],
                    leiItem:[], //雷区的随机数组
                    leiImgSrc:'../img/winmine/lei.png', //地雷的图片
                    redFlagImgSrc:'../img/winmine/redFlag.png', //红旗的图片
                    doubtImgSrc:'../img/winmine/doubt.png', //疑问的图片
                    
                }
            },
            created:function(){
                    this.reset();
            },
            methods:{
                changeDegree(){
                    this.reset(this.degree);
                },
                createRadomLei(){ //产生随机的雷区
                    let _this = this;
                        _this.leiItem = [];
                        while (_this.leiItem.length < this.degree) {
                            let randomNo = Math.ceil(Math.random()*this.degree*this.degree);
                                if(!_this.leiItem.includes(randomNo)){
                                    _this.leiItem.push(randomNo);
                                }
                        }
                        console.log(_this.leiItem);
                        _this.createDimensionalNo();
                },
                createDimensionalNo(){ 
                    //生成随机的二维数组 形如：[[{order:0,status:0,identity:0},{order:1,status:1,identity:0}],[{order:0,status:0,identity:1},{order:1,status:0,identity:0}]]
                    //status 代表状态 0：未点击  1代表被点开 2代表是雷  3代表不确定
                    //identity 是当前的身份 0代表非雷  1代表是雷
                    let _this = this;
                        _this.item = [];
                        for(var i=0;i<_this.degree;i++){
                            _this.item[i] = {};
                            // _this.item[i][status] = 0;
                            for(let j=0;j<_this.degree;j++){
                                let _item = _this.item[i];
                                _item[j] = {};
                                _item[j].row = i; //当前方块的行号
                                _item[j].col = j; //当前方块的列号
                                _item[j].status = 0; //当前方块的状态
                                _item[j].order = j; //当前方块的序号
                                _item[j].leiNo = ""; //当前方块附近雷的数量

                                if(_this.leiItem.includes(Number(i+""+j))){ //判断当前是否是雷
                                    _item[j].identity = 1; //当前方块的标记
                                }else{
                                    _item[j].identity = 0;
                                }
                            }
                        }
                        console.log(_this.item);
                },
                leftClick(row,col){ //点击鼠标左键检验
                    let _this = this,
                        _itemRow = _this.item[row];
                        if(_this.gameOver === true){ //游戏结束了
                            return;
                        }
                        if(_itemRow[col].status === 1){ //先检测是否已被点击
                            return ;
                        }
                        console.log("row="+row+";col="+col);
                        if(_itemRow[col].status != 0){ //如果之前标记的雷后者不确定，此时点击需要将雷的总数+1
                            _this.sumLei++;
                        }
                        //将当前状态更新为已点击
                        _this.refreshArrObj(row,col,"status",1);
                       
                        
                        if(_itemRow[col].identity === 1){
                            _this.gameOver = true;
                            _this.showAllLei();
                            alert("失败了");
                        }else{
                            _this.judgeAutoOpen(Number(row),Number(col));//选择某一方块后，自动判断是否打开周围的方块，标记当前方块附近的雷的总数
                        }
                        
                },
                rightClick(row,col){ //点击鼠标右键标记
                    let _this = this,
                        _itemRow = _this.item[row];
                        if(_this.gameOver === true){ //游戏结束了
                            return;
                        }
                        if(_itemRow[col].status === 1){ //先检测是否已被点击
                            return ;
                        }
                        if(!(_this.sumLei !== 0 || _itemRow[col].status !== 0)){ // 标雷的旗帜已经用完了
                            return;
                        }
                        console.log("row="+row+";col="+col);
                        //status 代表状态 0：未点击  1代表被点开 2代表是雷  3代表不确定
                        let _status = _itemRow[col].status;
                        switch(_status){
                            case 0:_status = 2;_this.sumLei--;break;
                            case 2:_status = 3;_this.sumLei++;break;
                            case 3:_status = 0;break;
                        }
                        //将当前状态更新为已点击
                        _this.refreshArrObj(row,col,"status",_status);
                },
                judgeAutoOpen(row,col){ //选择某一方块后，自动判断是否打开周围的方块，标记当前方块附近的雷的总数
                    let _this = this,
                        _itemRow = _this.item[row],
                        //首先找到本方块附近还未被点击开的方块是哪些
                        nearItem = _this.findNearItem(row,col); //附近还未被点击开的方块组成的数组

                        console.log("row="+row+";col="+col);
                        
                        let sumLeiNo = _this.judgeItemLeiNo(nearItem);
                            console.log(sumLeiNo);
                            
                            //将当前方格有多少雷展示出来
                            if(sumLeiNo>0 && _itemRow[col].identity != 1){
                                _this.refreshArrObj(row,col,"leiNo",sumLeiNo);
                            }else{ //当前方格周围的几个都没有雷格
                                _this.autoOpen(nearItem);
                            }
                },
                findNearItem(row,col){ //找到一个方格附近还未被点击的方格
                    let nearItem = [],
                        _this = this;
                        for(let i= row-1;i<=row+1;i++){
                            if(i >= 0 && i<=9){
                                for(let j=col-1;j<=col+1;j++){
                                    if(j >= 0 && j<=9){
                                        if(!(i == row && j == col) && _this.item[i][j].status !== 1){
                                            nearItem.push(_this.item[i][j]);
                                        }
                                    }
                                }
                            }
                        }
                    return nearItem;
                },
                judgeItemLeiNo(nearItem){ //查询新数组中包含的雷是多少
                    let sumLeiNo = 0;
                    nearItem.forEach((item) => {
                        if(item.identity === 1){
                            sumLeiNo++;
                        }
                    });
                    return sumLeiNo;
                },
                refreshArrObj(row,col,key,val){ //更新数组中某个状态
                    let _this = this,
                        _itemRow = _this.item[row];

                    Vue.set(_itemRow[col], key , val);
                    Vue.set(_this.item, row , _itemRow);
                },
                autoOpen(nearItem){ //自动翻开当前格子
                let _this = this;
                    nearItem.forEach( item => {
                        //将当前状态更新为已点击
                        _this.refreshArrObj(item.row,item.col,"status",1);
                        let nearItem2 = _this.findNearItem(item.row,item.col); //附近还未被点击开的方块组成的数组
                        let sumLeiNo = _this.judgeItemLeiNo(nearItem2);
                        
                        //将当前方格有多少雷展示出来
                        if(sumLeiNo>0){
                        }else{ //当前方格周围的几个都没有雷格
                            _this.autoOpen(nearItem2);
                        }
                    });
                },
                showAllLei(){ //将全部的雷展示出来
                    let _this = this;
                    console.log("show all lei");
                    
                },
                reset(){
                    let _this = this;
                        // _this.createDimensionalNo();
                        _this.gameOver = false;
                        _this.sumLei = _this.degree;
                        _this.createRadomLei();
                }
            },
            mounted(){
            }
        })
        let vm = new Vue({
            el:"#app"
        });
    </script>
</html>